/*
 *Name: Peyton Shelton
 *UnityID: pdshelto
 *Date: 11/13/2021
 *Assignment: Webpages IA
 *Description: Intro to XHTML and Styling
 */
 
html {
    background-color: #D9D9D9 ;
}

.class {
    border: 2px solid #EEEEEE ;
}

#photo-resize {
    max-width: 200px ;
	max-height: 250px ;
	border: 2px  #00FF00 ;
}
f2 {
    font-family:Arial ;
	font-size: 16px;
	color: #ffffff;