/*
 *Name: Peyton Shelton
 *UnityID: pdshelto
 *Date: 11/13/2021
 *Assignment: Webpages IA
 *Description: Intro to XHTML and Styling
 */
 
p {
    property: value;
}

.class {
    property: value;
}

#id {
    property:value;
}
