/*
 *Name: Peyton Shelton
 *UnityID: pdshelto
 *Date: 11/13/2021
 *Assignment: Webpages IA
 *Description: Intro to XHTML and Styling
 */
 
html {
    background-color: #D0D0D0 ;
}

.class {
    border: 2px solid #BBBBBB ;
}

#photo-resize {
    max-width: 200px ;
	max-height: 300px ;
	border: 2px solid #00FF00 ;
}
